<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Barcode Custom UI Component</ion-title>
    <ion-buttons slot="start">
      <ion-back-button [text]="" defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [scrollY]="false" [fullscreen]="true">
  <div class="fullscreen-container">
    <div id="barcode-view-alternate"></div>
    <section class="sheet-body">
      <div id="sheet-header">
        <ion-button class="sheet-action-button" fill="clear" (click)="onClear()">
          Clear
        </ion-button>
        <ion-button class="sheet-action-button" fill="clear" (click)="onSubmit()">
          Submit
        </ion-button>
      </div>
      <hr class="sheet-divider" />

      <div class="results-scroll">
        <ion-list class="results-list">
          @for (result of selectedBarcodes; track $index) {
          <ion-item>
            <ion-label>
              <p><strong>Format:</strong> {{ result.format }}</p>
              <p><strong>Text:</strong> {{ result.text }}</p>
            </ion-label>
          </ion-item>
          }
        </ion-list>
      </div>
    </section>
  </div>
</ion-content>
