<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Barcode Custom UI Component</ion-title>
    <ion-buttons slot="start">
      <ion-back-button [text]="" defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [scrollY]="false" [fullscreen]="true">
  <div class="fullscreen-container">
    <div id="barcode-view-alternate"></div>
    <section class="sheet-body">
      <div id="sheet-header">
        <ion-label>{{ scanResults.length }} items</ion-label>
      </div>
      <div class="results-scroll">
        <ion-list class="results-list">
          @for (result of scanResults; track $index) {
            <ion-item>
              <ion-label>
                <p><strong>Format:</strong> {{ result.format }}</p>
                <p><strong>Text:</strong> {{ result.text }}</p>
              </ion-label>
            </ion-item>
          }
        </ion-list>
      </div>
    </section>
  </div>
</ion-content>
