a.scanbotSDK {
    color: var(--ion-color-scanbot-red);
    text-decoration: none;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 35px;
}

p.footerNote {
    font-size: x-small;
    text-decoration: none;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 4px;
}

.ios ion-title {
    padding-left: 16px;
    padding-right: 16px;
}