<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Scanbot Barcode SDK Example Capacitor
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Scanbot Barcode SDK Example Capacitor</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button color="primary" (click)="startBarcodeScanner()">
      Barcode Scanner
    </ion-button>
  </div>
</ion-content>
